{% extends 'base.html' %}

{% block content %}
  <h1>Car`s model: "{{ car.model }}"</h1>
  <p><strong>Manufacturer`s name: </strong>{{ car.manufacturer.name }}</p>
  <p><strong>Manufacturer`s country: </strong>{{ car.manufacturer.country }}</p>

  <div class="nl-3">
    <h3>Drivers: </h3>
    {% for driver in car.drivers.all %}
      <hr>
      <p class="text-muted"><strong>ID: </strong>{{ driver.id }}</p>
      <p><strong>Full name: </strong>{{ driver.first_name }} {{ driver.last_name }}</p>
        {% if driver.license_number %}
        <p><strong>License number: </strong>{{ driver.license_number }}</p>
        {% endif %}
    {% endfor %}
  </div>

{% endblock %}
