{% extends "base.html" %}

{% block content %}

  <h1>List of Cars</h1>
  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url 'taxi:car-detail' pk=car.pk %}">{{ car.model }}</a>
          <p>(manufacturer: {{ car.manufacturer.name }})</p>
        </li>
      {% empty %}
        <p>Sorry, there are no cars available in our services.</p>
      {% endfor %}
    </ul>
  {% else %}
    <p>Sorry, there are no cars available in our services.</p>
  {% endif %}
{% endblock %}
