{% extends "base.html" %}

{% block content %}
  <h1>Drivers List</h1>
  {% if driver_list %}
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Driver's Full Name</th>
        <th>License number</th>
      </tr>
      {% for driver in driver_list %}
        <tr>
          <td>
            <a href="{% url 'taxi:driver-detail' pk=driver.id %}">{{ driver.id }}</a>
          </td>
          <td>
            {{ driver.first_name }} {{ driver.last_name }}
          </td>
          <td>
            {{ driver.license_number }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No drivers</p>
  {% endif %}
{% endblock %}
