{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="my-4">Taxi Service Home</h1>
  <p>Welcome to Best Taxi Ever!</p>

  <div class="card mt-4">
    <div class="card-body">
      <h2 class="card-title">Dynamic content</h2>
      <p class="card-text">The Taxi service has the following record counts:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Cars:</strong> {{ num_cars }}</li>
        <li class="list-group-item"><strong>Drivers:</strong> {{ num_drivers }}</li>
        <li class="list-group-item"><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
