{% extends "base.html" %}

{% block content %}
  <h1>Taxi Service Home</h1>
    <p>Welcome to Best Taxi Ever!</p>
  <h2>Dynamic content</h2>
    <p>The Taxi service has the following record counts:</p>
  <ul>
    <li><strong><a href="{% url 'taxi:cars_list' %}">Cars:</a></strong> {{ num_cars }}</li>
    <li><strong><a href="{% url 'taxi:drivers_list' %}">Drivers:</a></strong> {{ num_drivers }}</li>
    <li><strong><a href="{% url 'taxi:manufacturers' %}">Brands:</a></strong> {{ num_manufacturers }}</li>
  </ul>
{% endblock %}
