body {
    margin-top: 20px;
}

.freedom{
    display: inline-block;
    margin:15px 0 35px 0;
    border: hotpink solid;
    border-radius: 5px;
    padding: 5px;
    background-color: blanchedalmond;
}

h1{
    text-decoration: underline;
    color: purple;

}

a{
    color: hotpink;
    font-size: large;
}