body {
    margin-top: 20px;
}

.pagination {
    position: absolute;
    top: 110%;
    right: 45%;
    text-align: center;
}

.title-for-lists {
    text-align: center;
}

.table-bordered {
    border-collapse: collapse;
    width: 100%;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-bordered tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-bordered th {
    background-color: #4CAF50;
    color: white;
}
