body {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

tr {
    text-align: center;
}
td {
    width: 100px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
}