body{
    margin-top: 20px;
    margin-left: 20px;
}

.sidebar-nav{
    margin-top: 40px;
    padding: 0;
    list-style: none;
}
h2{
    padding-top: 40px;;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 150px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #1779e0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}