body {
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 3px solid black;
    padding: 8px;
    text-align: left;
}
.table{
    border-top: 3px solid black;
    background-color: aqua;
}
.page-link{
    background-color: greenyellow;
    border: 3px solid black;
}