body {
    font-family: "Futura", sans-serif;
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
}

.sidebar-nav li{
    font-size: 30px;
    list-style: none;
    margin-bottom: 10px;
}
.sidebar-nav li a{
    color: #ffffff;
    font-size: 20px;
}

.sidebar-nav li a:hover{
    color: #ffff00;
    text-decoration: none;
}

.content {
    color: #add8e6;
}

.content h1{
    color: mediumslateblue;
    margin-bottom: 30px;
}

.content h2{
    color: #4169e1;
}

.lighter{
    color: #fafad2;
}

  .page-item {
    margin: 0 5px;
  }

  .page-link {
    color: #ffffff;
    background-color: black;
    border: 1px solid black;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
  }

  .page-link:hover {
    background-color: black;
    color: palegreen;
  }

  .page-item.active .page-link {
    background-color: black;
    color: #ffffff;
    border: 1px solid white;
  }

.content li a{
    color: #add8e6;
    text-decoration: none;
}

.content li a:hover{
    color: #ffff00;
    text-decoration: none;
}
