  <div class="row">
    <div class="col-3">
      {% if cars %}
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Model</th>
          </tr>
          </thead>
          <tbody>
          {% for car in cars %}
            <tr class="table-default">
            <th scope="row"><a href="{{ car.get_absolute_url }}">{{ car.id }} </a></th>
            <td>{{ car.manufacturer.name }}</td>
            <td>{{ car.model }}</td>
          {% endfor %}
          </tr>
          </tbody>
        </table>
      {% else %}
        <p>Cars list is empty</p>
      {% endif %}
    </div>
  </div>
