<table class="table table-bordered w-50">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">License number</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
    </tr>
  </thead>
  <tbody>
    {% for driver in object_list %}
      <tr>
        <td>
          <a href="{{ driver.get_absolute_url }}">
            {{ driver.username }}
          </a>
        </td>
        <td>{{ driver.license_number }}</td>
        <td>{{ driver.first_name }}</td>
        <td>{{ driver.last_name }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
