<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="{% url 'taxi:index' %}" class="list-group-item list-group-item-action py-2 ripple active">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Home page</span>
        </a>
        <a href="{% url 'taxi:manufacturer_list' %}" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-lock fa-fw me-3"></i><span>Manufacturers</span></a
        >
        <a href="{% url 'taxi:car_list' %}" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-chart-line fa-fw me-3"></i><span>Cars</span></a
        >
        <a href="{% url 'taxi:driver_list' %}" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Drivers</span>
        </a>
      </div>
    </div>
  </nav>

