{% block sidebar %}
    <div class="side_bar">
        <div>Home page:</div>
        <ul class="sb_list">
            <li class="list_item"><a href="{% url 'taxi:index' %}">Home</a></li>
            <li class="list_item"><a href={% url 'taxi:driver-list' %}>All drivers</a></li>
            <li class="list_item"><a href={% url 'taxi:manufacturer-list' %}>All manufacturer</a></li>
            <li class="list_item"><a href={% url 'taxi:car-list' %}>All cars</a></li>
        </ul>
    </div>
{% endblock %}
